<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.5/phpunit.xsd"
        bootstrap="./vendor/autoload.php"
>

    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix=".php">tests</directory>
            <exclude>./tests/Finals</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
